<%# turn off turbo so Choices.js doesn't break when hitting the back button %>
<%# this way the form just resets %>
<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload">
<% end %>

<% if constraints? %>
  <div class="constraints well search_history">
    <h4><%= t 'blacklight.advanced_search.form.search_context' %></h4>
    <% constraints.each do |constraint| %>
      <%= constraint %>
    <% end %>
  </div>
<% end %>

<%= form_tag @url, method: @method, class: @classes.join(' '), role: 'search', 'aria-label' => t('blacklight.search.form.submit') do %>
  <%= render Blacklight::HiddenSearchStateComponent.new(params: hidden_search_state_params) %>

  <div class="input-criteria">
    <div class="query-criteria mb-4">
      <h2 class="query-criteria-heading h3 mb-4"><%= t('blacklight.advanced_search.form.search') %></h2>

      <div id="advanced_search" data-controller="advanced-search">
        <div class="advanced-search-clauses">
          <fieldset class="clause-row w-100 d-flex gap-2 mb-2" data-advanced-search-target="clauseRow">
            <select name="clause[0][field]" class="form-select flex-shrink-0" style="width: 175px;">
              <% search_fields.keys.each do |key| %>
                <option value="<%= key %>"><%= key.titleize %></option>
              <% end %>
            </select>
            <%= default_operator_menu %>
            <input class="form-control" type="text" name="clause[0][query]">
            <button class="remove-clause-row btn btn-link d-flex align-items-center gap-1 text-decoration-none text-nowrap px-0"
                    type="button"
                    id="remove-advanced-search-term"
                    data-action="advanced-search#removeClauseRow">
              <%= Arcdex::Icons::AdvancedSearchComponent.minus.html_safe %>
              <span class="d-none d-lg-inline"><%= t('blacklight.advanced_search.form.remove_search_term') %></span>
            </button>
          </fieldset>
        </div>
        <button class="btn btn-link d-flex align-items-center gap-1 text-decoration-none ps-0"
                type="button"
                id="add-advanced-search-term"
                data-action="advanced-search#addClauseRow">
          <%= Arcdex::Icons::AdvancedSearchComponent.plus.html_safe %>
          <%= t('blacklight.advanced_search.form.add_search_terms') %>
        </button>
      </div>
    </div>

    <% if search_filter_controls? %>
      <div class="limit-criteria mb-4 w-100">
        <h2 class="limit-criteria-heading h3"><%= t('blacklight.advanced_search.form.limit_criteria_heading_html')%></h2>

        <div id="advanced_search_facets" class="facets limit_input row" data-controller="advanced-search">
          <div class="advanced-facet-limits accordion">
            <% search_filter_controls.each do |control| %>
              <%= control %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="submit-buttons col-md-9 offset-md-3">
      <%= submit_tag t('blacklight.advanced_search.form.search_btn_html'), class: 'btn btn-primary advanced-search-submit', id: "advanced-search-submit" %>
      <%= link_to t('blacklight.advanced_search.form.start_over_html'), request.path, :class =>"btn btn-link advanced-search-start-over" %>
    </div>
  </div>
<% end %>
